[submodule "Runtime/Resources"]
	path = Runtime/Resources
	url = https://github.com/karnkaul/LEResources
[submodule "LittleEngine"]
	path = LittleEngine
	url = https://github.com/karnkaul/LittleEngine
